.form-group{
	text-align: center;
	padding: 4px;

}
#email{
	margin-left: 70px;
}
#password{
	margin-left: 70px;
}
.form-check{
	padding: 20px;
	margin-left: -40px;
}
.container{
	box-shadow: 0px 5px rgba(0,4,6,0.1);
}
.header{
	background-color: white;
	height: 80px;
	padding: 20px;
	box-shadow: 0px 5px rgba(0,4,6,0.02);
}
a{
	color: black;
	padding-right: 10px;
}

button{
	background-color: white;
	border-color: grey;
	color: grey;
}